/*------------------------------------------------------------------
[Table of contents]

 - Default colors
 - Highlight
 - Tooltips

- Project:	Moresa - Multipurpose HTML Template
- Version:	1.1
- Author:  Andrey Sokoltsov
- Profile:	http://themeforest.net/user/andreysokoltsov
R 5 G 162 B 212 
R 16 G 206 B 228
-------------------------------------------------------------------*/

/* Default colors */
.customBgColor,
.customPseudoElBg:before,
.customPseudoElBg:after,
.fixed-menu .header {
  /*background-color: #0db4da;*/
  background-image: linear-gradient(-200deg ,rgb(16, 206, 228), rgb(5, 162, 212) );
  
}

.navbar-main > li > a:focus,
.navbar-main > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.customColor {
  color: #0db4da;
}

.custom-filter {
  /*background-color: rgba(13, 180, 218, 0.9);*/
  background-image: linear-gradient(-200deg ,rgb(16, 206, 228,0.9), rgb(5, 162, 212,0.2) );
}

.logo span {
  color: #0db4da;
}

/*highlight*/
.highlight-primary {
  background: #0db4da;
  color: #fff;
}

.highlight-secondary {
  background: #222222;
  color: #fff;
}

.highlight-dotted {
  background: #fff;
  outline: 1px dotted #878787;
}

.highlight-primary-nobg {
  color: #0db4da;
  background: transparent;
}

.highlight-secondary-nobg {
  color: #222222;
  background: transparent;
}

.highlight-gray-nobg {
  color: #bbbbbb;
  background: transparent;
}

/* tooltips */
.color-tooltip {
  color: #0db4da;
}

.color-tooltip + .tooltip > .tooltip-inner {
  background: #0db4da;
}

.color-tooltip + .tooltip > .tooltip-arrow {
  border-top-color: #0db4da;
}

/*list styles*/
.b-list.check-circle-o li:before {
  color: #0db4da;
}

.b-list.l-checked .l-not-check:before {
  color: #0db4da;
}

.b-list.l-checked-square .l-check-square:before {
  color: #0db4da;
}
.b-list.l-checked-square .l-not-check-square:before {
  color: #0db4da;
}

.b-list.l-plane li:before {
  color: #0db4da;
}

.b-list.l-circle li:before {
  font-family: FontAwesome;
  content: "\f111";
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 5px;
  font-size: 12px;
  color: #0db4da;
}

/*Dropcap styles*/
.b-round-dropcap .round-dropcap {
  background: #0db4da;
}

.b-square-dropcap .square-dropcap {
  background: #0db4da;
}

.b-square-dropcap-mod .square-dropcap {
  color: #0db4da;
  border-color: #0db4da;
}

/*Blockquote Style*/
.b-blockquote-left-border:before {
  background: #0db4da;
}

.b-blockquote-bg {
  background-color: #0db4da;
}

/* buttons */
.btn-primary {
  background: #0db4da;
  border-color: #0db4da;
}
.btn-primary:hover {
  border-color: #0db4da;
}

.btn-default {
  color: #0db4da;
}
.btn-default:hover {
  background: #0db4da;
  border-color: #0db4da;
}

.btn-primary-arrow {
  background: #0db4da;
  border-color: #0db4da;
}
.btn-primary-arrow:hover {
  border-color: #0db4da;
  background: none;
}

.btn-default-arrow {
  color: #0db4da;
}
.btn-default-arrow:hover {
  background: #0db4da;
  border-color: #0db4da;
}

.btn-reply {
  color: #0db4da;
}

/* pagination */
.pag-btn:hover {
  color: #0db4da;
}

.pag-prev:after,
.pag-next:after {
  background-color: #0db4da;
}

/* forms */
.b-form .form-control:focus {
  border-color: #0db4da;
}

/*checkbox/radio*/
.checkbox-1 input[type=checkbox]:checked + label:before {
  background: #0db4da;
}

.radio1 label:before {
  background: #0db4da;
}

.radio3 label:after {
  background-color: #0db4da;
}

/* progress bar */
.progress.progress-color2 .progress-bar {
  background: #0db4da;
}

.progress-mod.progress-color2 {
  border: 2px solid #0db4da;
}
.progress-mod.progress-color2 .progress-bar {
  background: #0db4da;
}

/* tables */
.table.table-striped thead tr td {
  border-color: #0db4da;
}

/* pricing plans */
.b-plan-item .plan-title:before,
.b-plan-item-odd .plan-title:before {
  background: #0db4da;
}
.b-plan-item .plan-price,
.b-plan-item-odd .plan-price {
  color: #0db4da;
}

/*Accordion*/
.b-accordion .ui-accordion-header.ui-state-active {
  background: #0db4da;
  border-color: transparent;
}

/* footer */
.b-footer-socials .socials-title {
  color: #0db4da;
}
.b-footer-socials .socials-title:before {
  background: #0db4da;
}

/* contacts */
.b-contact-info .contact-info-title span,
.b-work-info .contact-info-title span {
  color: #0db4da;
}

/* works */
.b-items-sort li.active-filt {
  color: #0db4da;
}
.b-items-sort li.active-filt:before {
  background: #0db4da;
}

/* work details */
.b-work-info a:hover {
  color: #0db4da;
}

/* blog post */
.b-post-tags a:hover {
  color: #0db4da;
}

/* tabs */
.b-tabs .nav-tabs > li.active > a,
.b-tabs .nav-tabs > li.active > a:focus,
.b-tabs .nav-tabs > li.active > a:hover {
  color: #0db4da;
}
.b-tabs .tab-custom .b-tab-additional a.active::before {
  background: rgba(13, 180, 218, 0.9);
}

/* about */
.facts-icon i {
  color: #0db4da;
}

.b-member-info .member-socials a:hover {
  color: #0db4da;
}

.b-member-list .member-list-item a:hover .member-img::before {
  background: rgba(13, 180, 218, 0.9);
}

/* bxslider custom controls */
.bx-outside-controls span {
  border-color: #0db4da;
}

/* home */
.secondary-home-news .b-blog-item:hover:before {
  background: rgba(13, 180, 218, 0.9);
}

.section-home-secondary .primary-home-news a {
  display: block;
}
.section-home-secondary .primary-home-news a:hover {
  text-decoration: none;
}
.section-home-secondary .primary-home-news a:hover .caption-title {
  color: #0db4da;
}

.b-video-holder a {
  color: #0db4da;
}
